div{
    height: 100px;
    width: 100px;
    border: 20px solid #4ECDC4;
    border-top: 20px solid #FFE66D ;
    border-radius: 50%;
    animation:loader 1s ease-in 0s infinite normal;
}

@keyframes loader {
    from {transform: rotate(0deg);
    }
    to{transform: rotate(360deg);
    }
}